:root {
  --rr-space-0: 0;
  --rr-space-px: 1px;
  --rr-space-3xs: 0.125rem;
  --rr-space-2xs: 0.25rem;
  --rr-space-xs: 0.5rem;
  --rr-space-s: 0.75rem;
  --rr-space-m: 1rem;
  --rr-space-l: 1.25rem;
  --rr-space-xl: 1.5rem;
  --rr-space-2xl: 2rem;
  --rr-space-3xl: 2.5rem;
  --rr-space-4xl: 3rem;
}
