:root {
  --rr-font-size-3xs: 0.5rem;
  --rr-font-size-2xs: 0.625rem;
  --rr-font-size-xs: 0.75rem;
  --rr-font-size-s: 0.875rem;
  --rr-font-size-m: 1rem;
  --rr-font-size-l: 1.125rem;
  --rr-font-size-xl: 1.25rem;
  --rr-font-size-2xl: 1.5rem;
  --rr-font-size-3xl: 2rem;
  --rr-font-size-4xl: 2.25rem;
  --rr-line-height-3xs: 1;
  --rr-line-height-2xs: 1;
  --rr-line-height-xs: 1;
  --rr-line-height-s: 1.25;
  --rr-line-height-m: 1.5;
  --rr-line-height-l: 1.25;
  --rr-line-height-xl: 1.25;
  --rr-line-height-2xl: 1;
  --rr-line-height-3xl: 1;
  --rr-line-height-4xl: 1;
}
