@import "tailwindcss/theme" layer(theme);

@theme static {
  --color-contrast-50: rgba(0, 0, 0, 0.05);
  --color-contrast-100: rgba(0, 0, 0, 0.1);
  --color-contrast-200: rgba(0, 0, 0, 0.2);
  --color-contrast-300: rgba(0, 0, 0, 0.3);
  --color-contrast-400: rgba(0, 0, 0, 0.4);
  --color-contrast-500: rgba(0, 0, 0, 0.5);
  --color-contrast-600: rgba(0, 0, 0, 0.6);
  --color-contrast-700: rgba(0, 0, 0, 0.7);
  --color-contrast-800: rgba(0, 0, 0, 0.8);
  --color-contrast-900: rgba(0, 0, 0, 0.9);
  --color-contrast-950: rgba(0, 0, 0, 0.95);
}
