.color-amber {
  color: var(--rr-color-amber);
}
.color-amber-100 {
  color: var(--rr-color-amber-100);
}
.color-amber-200 {
  color: var(--rr-color-amber-200);
}
.color-amber-300 {
  color: var(--rr-color-amber-300);
}
.color-amber-400 {
  color: var(--rr-color-amber-400);
}
.color-amber-50 {
  color: var(--rr-color-amber-50);
}
.color-amber-500 {
  color: var(--rr-color-amber-500);
}
.color-amber-600 {
  color: var(--rr-color-amber-600);
}
.color-amber-700 {
  color: var(--rr-color-amber-700);
}
.color-amber-800 {
  color: var(--rr-color-amber-800);
}
.color-amber-900 {
  color: var(--rr-color-amber-900);
}
.color-amber-950 {
  color: var(--rr-color-amber-950);
}
.color-amber-contrast {
  color: var(--rr-color-amber-contrast);
}
.color-amber-contrastx {
  color: var(--rr-color-amber-contrastx);
}
.color-base-bg {
  color: var(--rr-color-base-bg);
}
.color-base-secondary-text {
  color: var(--rr-color-base-secondary-text);
}
.color-base-text {
  color: var(--rr-color-base-text);
}
.color-black {
  color: var(--rr-color-black);
}
.color-blue {
  color: var(--rr-color-blue);
}
.color-blue-100 {
  color: var(--rr-color-blue-100);
}
.color-blue-200 {
  color: var(--rr-color-blue-200);
}
.color-blue-300 {
  color: var(--rr-color-blue-300);
}
.color-blue-400 {
  color: var(--rr-color-blue-400);
}
.color-blue-50 {
  color: var(--rr-color-blue-50);
}
.color-blue-500 {
  color: var(--rr-color-blue-500);
}
.color-blue-600 {
  color: var(--rr-color-blue-600);
}
.color-blue-700 {
  color: var(--rr-color-blue-700);
}
.color-blue-800 {
  color: var(--rr-color-blue-800);
}
.color-blue-900 {
  color: var(--rr-color-blue-900);
}
.color-blue-950 {
  color: var(--rr-color-blue-950);
}
.color-blue-contrast {
  color: var(--rr-color-blue-contrast);
}
.color-blue-contrastx {
  color: var(--rr-color-blue-contrastx);
}
.color-contrast {
  color: var(--rr-color-contrast);
}
.color-contrast-100 {
  color: var(--rr-color-contrast-100);
}
.color-contrast-200 {
  color: var(--rr-color-contrast-200);
}
.color-contrast-300 {
  color: var(--rr-color-contrast-300);
}
.color-contrast-400 {
  color: var(--rr-color-contrast-400);
}
.color-contrast-50 {
  color: var(--rr-color-contrast-50);
}
.color-contrast-500 {
  color: var(--rr-color-contrast-500);
}
.color-contrast-600 {
  color: var(--rr-color-contrast-600);
}
.color-contrast-700 {
  color: var(--rr-color-contrast-700);
}
.color-contrast-800 {
  color: var(--rr-color-contrast-800);
}
.color-contrast-900 {
  color: var(--rr-color-contrast-900);
}
.color-current {
  color: var(--rr-color-current);
}
.color-cyan {
  color: var(--rr-color-cyan);
}
.color-cyan-100 {
  color: var(--rr-color-cyan-100);
}
.color-cyan-200 {
  color: var(--rr-color-cyan-200);
}
.color-cyan-300 {
  color: var(--rr-color-cyan-300);
}
.color-cyan-400 {
  color: var(--rr-color-cyan-400);
}
.color-cyan-50 {
  color: var(--rr-color-cyan-50);
}
.color-cyan-500 {
  color: var(--rr-color-cyan-500);
}
.color-cyan-600 {
  color: var(--rr-color-cyan-600);
}
.color-cyan-700 {
  color: var(--rr-color-cyan-700);
}
.color-cyan-800 {
  color: var(--rr-color-cyan-800);
}
.color-cyan-900 {
  color: var(--rr-color-cyan-900);
}
.color-cyan-950 {
  color: var(--rr-color-cyan-950);
}
.color-cyan-contrast {
  color: var(--rr-color-cyan-contrast);
}
.color-cyan-contrastx {
  color: var(--rr-color-cyan-contrastx);
}
.color-danger {
  color: var(--rr-color-danger);
}
.color-danger-100 {
  color: var(--rr-color-danger-100);
}
.color-danger-200 {
  color: var(--rr-color-danger-200);
}
.color-danger-300 {
  color: var(--rr-color-danger-300);
}
.color-danger-400 {
  color: var(--rr-color-danger-400);
}
.color-danger-50 {
  color: var(--rr-color-danger-50);
}
.color-danger-500 {
  color: var(--rr-color-danger-500);
}
.color-danger-600 {
  color: var(--rr-color-danger-600);
}
.color-danger-700 {
  color: var(--rr-color-danger-700);
}
.color-danger-800 {
  color: var(--rr-color-danger-800);
}
.color-danger-900 {
  color: var(--rr-color-danger-900);
}
.color-danger-950 {
  color: var(--rr-color-danger-950);
}
.color-danger-contrast {
  color: var(--rr-color-danger-contrast);
}
.color-danger-contrastx {
  color: var(--rr-color-danger-contrastx);
}
.color-divider {
  color: var(--rr-color-divider);
}
.color-divider-secondary {
  color: var(--rr-color-divider-secondary);
}
.color-emerald {
  color: var(--rr-color-emerald);
}
.color-emerald-100 {
  color: var(--rr-color-emerald-100);
}
.color-emerald-200 {
  color: var(--rr-color-emerald-200);
}
.color-emerald-300 {
  color: var(--rr-color-emerald-300);
}
.color-emerald-400 {
  color: var(--rr-color-emerald-400);
}
.color-emerald-50 {
  color: var(--rr-color-emerald-50);
}
.color-emerald-500 {
  color: var(--rr-color-emerald-500);
}
.color-emerald-600 {
  color: var(--rr-color-emerald-600);
}
.color-emerald-700 {
  color: var(--rr-color-emerald-700);
}
.color-emerald-800 {
  color: var(--rr-color-emerald-800);
}
.color-emerald-900 {
  color: var(--rr-color-emerald-900);
}
.color-emerald-950 {
  color: var(--rr-color-emerald-950);
}
.color-emerald-contrast {
  color: var(--rr-color-emerald-contrast);
}
.color-emerald-contrastx {
  color: var(--rr-color-emerald-contrastx);
}
.color-fuscia {
  color: var(--rr-color-fuscia);
}
.color-fuscia-100 {
  color: var(--rr-color-fuscia-100);
}
.color-fuscia-200 {
  color: var(--rr-color-fuscia-200);
}
.color-fuscia-300 {
  color: var(--rr-color-fuscia-300);
}
.color-fuscia-400 {
  color: var(--rr-color-fuscia-400);
}
.color-fuscia-50 {
  color: var(--rr-color-fuscia-50);
}
.color-fuscia-500 {
  color: var(--rr-color-fuscia-500);
}
.color-fuscia-600 {
  color: var(--rr-color-fuscia-600);
}
.color-fuscia-700 {
  color: var(--rr-color-fuscia-700);
}
.color-fuscia-800 {
  color: var(--rr-color-fuscia-800);
}
.color-fuscia-900 {
  color: var(--rr-color-fuscia-900);
}
.color-fuscia-950 {
  color: var(--rr-color-fuscia-950);
}
.color-fuscia-contrast {
  color: var(--rr-color-fuscia-contrast);
}
.color-fuscia-contrastx {
  color: var(--rr-color-fuscia-contrastx);
}
.color-gray {
  color: var(--rr-color-gray);
}
.color-gray-100 {
  color: var(--rr-color-gray-100);
}
.color-gray-200 {
  color: var(--rr-color-gray-200);
}
.color-gray-300 {
  color: var(--rr-color-gray-300);
}
.color-gray-400 {
  color: var(--rr-color-gray-400);
}
.color-gray-50 {
  color: var(--rr-color-gray-50);
}
.color-gray-500 {
  color: var(--rr-color-gray-500);
}
.color-gray-600 {
  color: var(--rr-color-gray-600);
}
.color-gray-700 {
  color: var(--rr-color-gray-700);
}
.color-gray-800 {
  color: var(--rr-color-gray-800);
}
.color-gray-900 {
  color: var(--rr-color-gray-900);
}
.color-gray-950 {
  color: var(--rr-color-gray-950);
}
.color-gray-contrast {
  color: var(--rr-color-gray-contrast);
}
.color-gray-contrastx {
  color: var(--rr-color-gray-contrastx);
}
.color-green {
  color: var(--rr-color-green);
}
.color-green-100 {
  color: var(--rr-color-green-100);
}
.color-green-200 {
  color: var(--rr-color-green-200);
}
.color-green-300 {
  color: var(--rr-color-green-300);
}
.color-green-400 {
  color: var(--rr-color-green-400);
}
.color-green-50 {
  color: var(--rr-color-green-50);
}
.color-green-500 {
  color: var(--rr-color-green-500);
}
.color-green-600 {
  color: var(--rr-color-green-600);
}
.color-green-700 {
  color: var(--rr-color-green-700);
}
.color-green-800 {
  color: var(--rr-color-green-800);
}
.color-green-900 {
  color: var(--rr-color-green-900);
}
.color-green-950 {
  color: var(--rr-color-green-950);
}
.color-green-contrast {
  color: var(--rr-color-green-contrast);
}
.color-green-contrastx {
  color: var(--rr-color-green-contrastx);
}
.color-indigo {
  color: var(--rr-color-indigo);
}
.color-indigo-100 {
  color: var(--rr-color-indigo-100);
}
.color-indigo-200 {
  color: var(--rr-color-indigo-200);
}
.color-indigo-300 {
  color: var(--rr-color-indigo-300);
}
.color-indigo-400 {
  color: var(--rr-color-indigo-400);
}
.color-indigo-50 {
  color: var(--rr-color-indigo-50);
}
.color-indigo-500 {
  color: var(--rr-color-indigo-500);
}
.color-indigo-600 {
  color: var(--rr-color-indigo-600);
}
.color-indigo-700 {
  color: var(--rr-color-indigo-700);
}
.color-indigo-800 {
  color: var(--rr-color-indigo-800);
}
.color-indigo-900 {
  color: var(--rr-color-indigo-900);
}
.color-indigo-950 {
  color: var(--rr-color-indigo-950);
}
.color-indigo-contrast {
  color: var(--rr-color-indigo-contrast);
}
.color-indigo-contrastx {
  color: var(--rr-color-indigo-contrastx);
}
.color-info {
  color: var(--rr-color-info);
}
.color-info-100 {
  color: var(--rr-color-info-100);
}
.color-info-200 {
  color: var(--rr-color-info-200);
}
.color-info-300 {
  color: var(--rr-color-info-300);
}
.color-info-400 {
  color: var(--rr-color-info-400);
}
.color-info-50 {
  color: var(--rr-color-info-50);
}
.color-info-500 {
  color: var(--rr-color-info-500);
}
.color-info-600 {
  color: var(--rr-color-info-600);
}
.color-info-700 {
  color: var(--rr-color-info-700);
}
.color-info-800 {
  color: var(--rr-color-info-800);
}
.color-info-900 {
  color: var(--rr-color-info-900);
}
.color-info-950 {
  color: var(--rr-color-info-950);
}
.color-info-contrast {
  color: var(--rr-color-info-contrast);
}
.color-info-contrastx {
  color: var(--rr-color-info-contrastx);
}
.color-inherit {
  color: var(--rr-color-inherit);
}
.color-lime {
  color: var(--rr-color-lime);
}
.color-lime-100 {
  color: var(--rr-color-lime-100);
}
.color-lime-200 {
  color: var(--rr-color-lime-200);
}
.color-lime-300 {
  color: var(--rr-color-lime-300);
}
.color-lime-400 {
  color: var(--rr-color-lime-400);
}
.color-lime-50 {
  color: var(--rr-color-lime-50);
}
.color-lime-500 {
  color: var(--rr-color-lime-500);
}
.color-lime-600 {
  color: var(--rr-color-lime-600);
}
.color-lime-700 {
  color: var(--rr-color-lime-700);
}
.color-lime-800 {
  color: var(--rr-color-lime-800);
}
.color-lime-900 {
  color: var(--rr-color-lime-900);
}
.color-lime-950 {
  color: var(--rr-color-lime-950);
}
.color-lime-contrast {
  color: var(--rr-color-lime-contrast);
}
.color-lime-contrastx {
  color: var(--rr-color-lime-contrastx);
}
.color-neutral {
  color: var(--rr-color-neutral);
}
.color-neutral-100 {
  color: var(--rr-color-neutral-100);
}
.color-neutral-200 {
  color: var(--rr-color-neutral-200);
}
.color-neutral-300 {
  color: var(--rr-color-neutral-300);
}
.color-neutral-400 {
  color: var(--rr-color-neutral-400);
}
.color-neutral-50 {
  color: var(--rr-color-neutral-50);
}
.color-neutral-500 {
  color: var(--rr-color-neutral-500);
}
.color-neutral-600 {
  color: var(--rr-color-neutral-600);
}
.color-neutral-700 {
  color: var(--rr-color-neutral-700);
}
.color-neutral-800 {
  color: var(--rr-color-neutral-800);
}
.color-neutral-900 {
  color: var(--rr-color-neutral-900);
}
.color-neutral-950 {
  color: var(--rr-color-neutral-950);
}
.color-neutral-contrast {
  color: var(--rr-color-neutral-contrast);
}
.color-neutral-contrastx {
  color: var(--rr-color-neutral-contrastx);
}
.color-orange {
  color: var(--rr-color-orange);
}
.color-orange-100 {
  color: var(--rr-color-orange-100);
}
.color-orange-200 {
  color: var(--rr-color-orange-200);
}
.color-orange-300 {
  color: var(--rr-color-orange-300);
}
.color-orange-400 {
  color: var(--rr-color-orange-400);
}
.color-orange-50 {
  color: var(--rr-color-orange-50);
}
.color-orange-500 {
  color: var(--rr-color-orange-500);
}
.color-orange-600 {
  color: var(--rr-color-orange-600);
}
.color-orange-700 {
  color: var(--rr-color-orange-700);
}
.color-orange-800 {
  color: var(--rr-color-orange-800);
}
.color-orange-900 {
  color: var(--rr-color-orange-900);
}
.color-orange-950 {
  color: var(--rr-color-orange-950);
}
.color-orange-contrast {
  color: var(--rr-color-orange-contrast);
}
.color-orange-contrastx {
  color: var(--rr-color-orange-contrastx);
}
.color-pink {
  color: var(--rr-color-pink);
}
.color-pink-100 {
  color: var(--rr-color-pink-100);
}
.color-pink-200 {
  color: var(--rr-color-pink-200);
}
.color-pink-300 {
  color: var(--rr-color-pink-300);
}
.color-pink-400 {
  color: var(--rr-color-pink-400);
}
.color-pink-50 {
  color: var(--rr-color-pink-50);
}
.color-pink-500 {
  color: var(--rr-color-pink-500);
}
.color-pink-600 {
  color: var(--rr-color-pink-600);
}
.color-pink-700 {
  color: var(--rr-color-pink-700);
}
.color-pink-800 {
  color: var(--rr-color-pink-800);
}
.color-pink-900 {
  color: var(--rr-color-pink-900);
}
.color-pink-950 {
  color: var(--rr-color-pink-950);
}
.color-pink-contrast {
  color: var(--rr-color-pink-contrast);
}
.color-pink-contrastx {
  color: var(--rr-color-pink-contrastx);
}
.color-primary {
  color: var(--rr-color-primary);
}
.color-primary-100 {
  color: var(--rr-color-primary-100);
}
.color-primary-200 {
  color: var(--rr-color-primary-200);
}
.color-primary-300 {
  color: var(--rr-color-primary-300);
}
.color-primary-400 {
  color: var(--rr-color-primary-400);
}
.color-primary-50 {
  color: var(--rr-color-primary-50);
}
.color-primary-500 {
  color: var(--rr-color-primary-500);
}
.color-primary-600 {
  color: var(--rr-color-primary-600);
}
.color-primary-700 {
  color: var(--rr-color-primary-700);
}
.color-primary-800 {
  color: var(--rr-color-primary-800);
}
.color-primary-900 {
  color: var(--rr-color-primary-900);
}
.color-primary-950 {
  color: var(--rr-color-primary-950);
}
.color-primary-contrast {
  color: var(--rr-color-primary-contrast);
}
.color-primary-contrastx {
  color: var(--rr-color-primary-contrastx);
}
.color-purple {
  color: var(--rr-color-purple);
}
.color-purple-100 {
  color: var(--rr-color-purple-100);
}
.color-purple-200 {
  color: var(--rr-color-purple-200);
}
.color-purple-300 {
  color: var(--rr-color-purple-300);
}
.color-purple-400 {
  color: var(--rr-color-purple-400);
}
.color-purple-50 {
  color: var(--rr-color-purple-50);
}
.color-purple-500 {
  color: var(--rr-color-purple-500);
}
.color-purple-600 {
  color: var(--rr-color-purple-600);
}
.color-purple-700 {
  color: var(--rr-color-purple-700);
}
.color-purple-800 {
  color: var(--rr-color-purple-800);
}
.color-purple-900 {
  color: var(--rr-color-purple-900);
}
.color-purple-950 {
  color: var(--rr-color-purple-950);
}
.color-purple-contrast {
  color: var(--rr-color-purple-contrast);
}
.color-purple-contrastx {
  color: var(--rr-color-purple-contrastx);
}
.color-red {
  color: var(--rr-color-red);
}
.color-red-100 {
  color: var(--rr-color-red-100);
}
.color-red-200 {
  color: var(--rr-color-red-200);
}
.color-red-300 {
  color: var(--rr-color-red-300);
}
.color-red-400 {
  color: var(--rr-color-red-400);
}
.color-red-50 {
  color: var(--rr-color-red-50);
}
.color-red-500 {
  color: var(--rr-color-red-500);
}
.color-red-600 {
  color: var(--rr-color-red-600);
}
.color-red-700 {
  color: var(--rr-color-red-700);
}
.color-red-800 {
  color: var(--rr-color-red-800);
}
.color-red-900 {
  color: var(--rr-color-red-900);
}
.color-red-950 {
  color: var(--rr-color-red-950);
}
.color-red-contrast {
  color: var(--rr-color-red-contrast);
}
.color-red-contrastx {
  color: var(--rr-color-red-contrastx);
}
.color-rose {
  color: var(--rr-color-rose);
}
.color-rose-100 {
  color: var(--rr-color-rose-100);
}
.color-rose-200 {
  color: var(--rr-color-rose-200);
}
.color-rose-300 {
  color: var(--rr-color-rose-300);
}
.color-rose-400 {
  color: var(--rr-color-rose-400);
}
.color-rose-50 {
  color: var(--rr-color-rose-50);
}
.color-rose-500 {
  color: var(--rr-color-rose-500);
}
.color-rose-600 {
  color: var(--rr-color-rose-600);
}
.color-rose-700 {
  color: var(--rr-color-rose-700);
}
.color-rose-800 {
  color: var(--rr-color-rose-800);
}
.color-rose-900 {
  color: var(--rr-color-rose-900);
}
.color-rose-950 {
  color: var(--rr-color-rose-950);
}
.color-rose-contrast {
  color: var(--rr-color-rose-contrast);
}
.color-rose-contrastx {
  color: var(--rr-color-rose-contrastx);
}
.color-shade {
  color: var(--rr-color-shade);
}
.color-shade-100 {
  color: var(--rr-color-shade-100);
}
.color-shade-200 {
  color: var(--rr-color-shade-200);
}
.color-shade-300 {
  color: var(--rr-color-shade-300);
}
.color-shade-400 {
  color: var(--rr-color-shade-400);
}
.color-shade-50 {
  color: var(--rr-color-shade-50);
}
.color-shade-500 {
  color: var(--rr-color-shade-500);
}
.color-shade-600 {
  color: var(--rr-color-shade-600);
}
.color-shade-700 {
  color: var(--rr-color-shade-700);
}
.color-shade-800 {
  color: var(--rr-color-shade-800);
}
.color-shade-900 {
  color: var(--rr-color-shade-900);
}
.color-sky {
  color: var(--rr-color-sky);
}
.color-sky-100 {
  color: var(--rr-color-sky-100);
}
.color-sky-200 {
  color: var(--rr-color-sky-200);
}
.color-sky-300 {
  color: var(--rr-color-sky-300);
}
.color-sky-400 {
  color: var(--rr-color-sky-400);
}
.color-sky-50 {
  color: var(--rr-color-sky-50);
}
.color-sky-500 {
  color: var(--rr-color-sky-500);
}
.color-sky-600 {
  color: var(--rr-color-sky-600);
}
.color-sky-700 {
  color: var(--rr-color-sky-700);
}
.color-sky-800 {
  color: var(--rr-color-sky-800);
}
.color-sky-900 {
  color: var(--rr-color-sky-900);
}
.color-sky-950 {
  color: var(--rr-color-sky-950);
}
.color-sky-contrast {
  color: var(--rr-color-sky-contrast);
}
.color-sky-contrastx {
  color: var(--rr-color-sky-contrastx);
}
.color-slate {
  color: var(--rr-color-slate);
}
.color-slate-100 {
  color: var(--rr-color-slate-100);
}
.color-slate-200 {
  color: var(--rr-color-slate-200);
}
.color-slate-300 {
  color: var(--rr-color-slate-300);
}
.color-slate-400 {
  color: var(--rr-color-slate-400);
}
.color-slate-50 {
  color: var(--rr-color-slate-50);
}
.color-slate-500 {
  color: var(--rr-color-slate-500);
}
.color-slate-600 {
  color: var(--rr-color-slate-600);
}
.color-slate-700 {
  color: var(--rr-color-slate-700);
}
.color-slate-800 {
  color: var(--rr-color-slate-800);
}
.color-slate-900 {
  color: var(--rr-color-slate-900);
}
.color-slate-950 {
  color: var(--rr-color-slate-950);
}
.color-slate-contrast {
  color: var(--rr-color-slate-contrast);
}
.color-slate-contrastx {
  color: var(--rr-color-slate-contrastx);
}
.color-stone {
  color: var(--rr-color-stone);
}
.color-stone-100 {
  color: var(--rr-color-stone-100);
}
.color-stone-200 {
  color: var(--rr-color-stone-200);
}
.color-stone-300 {
  color: var(--rr-color-stone-300);
}
.color-stone-400 {
  color: var(--rr-color-stone-400);
}
.color-stone-50 {
  color: var(--rr-color-stone-50);
}
.color-stone-500 {
  color: var(--rr-color-stone-500);
}
.color-stone-600 {
  color: var(--rr-color-stone-600);
}
.color-stone-700 {
  color: var(--rr-color-stone-700);
}
.color-stone-800 {
  color: var(--rr-color-stone-800);
}
.color-stone-900 {
  color: var(--rr-color-stone-900);
}
.color-stone-950 {
  color: var(--rr-color-stone-950);
}
.color-stone-contrast {
  color: var(--rr-color-stone-contrast);
}
.color-stone-contrastx {
  color: var(--rr-color-stone-contrastx);
}
.color-success {
  color: var(--rr-color-success);
}
.color-success-100 {
  color: var(--rr-color-success-100);
}
.color-success-200 {
  color: var(--rr-color-success-200);
}
.color-success-300 {
  color: var(--rr-color-success-300);
}
.color-success-400 {
  color: var(--rr-color-success-400);
}
.color-success-50 {
  color: var(--rr-color-success-50);
}
.color-success-500 {
  color: var(--rr-color-success-500);
}
.color-success-600 {
  color: var(--rr-color-success-600);
}
.color-success-700 {
  color: var(--rr-color-success-700);
}
.color-success-800 {
  color: var(--rr-color-success-800);
}
.color-success-900 {
  color: var(--rr-color-success-900);
}
.color-success-950 {
  color: var(--rr-color-success-950);
}
.color-success-contrast {
  color: var(--rr-color-success-contrast);
}
.color-success-contrastx {
  color: var(--rr-color-success-contrastx);
}
.color-surface-bg {
  color: var(--rr-color-surface-bg);
}
.color-surface-secondary-text {
  color: var(--rr-color-surface-secondary-text);
}
.color-surface-text {
  color: var(--rr-color-surface-text);
}
.color-teal {
  color: var(--rr-color-teal);
}
.color-teal-100 {
  color: var(--rr-color-teal-100);
}
.color-teal-200 {
  color: var(--rr-color-teal-200);
}
.color-teal-300 {
  color: var(--rr-color-teal-300);
}
.color-teal-400 {
  color: var(--rr-color-teal-400);
}
.color-teal-50 {
  color: var(--rr-color-teal-50);
}
.color-teal-500 {
  color: var(--rr-color-teal-500);
}
.color-teal-600 {
  color: var(--rr-color-teal-600);
}
.color-teal-700 {
  color: var(--rr-color-teal-700);
}
.color-teal-800 {
  color: var(--rr-color-teal-800);
}
.color-teal-900 {
  color: var(--rr-color-teal-900);
}
.color-teal-950 {
  color: var(--rr-color-teal-950);
}
.color-teal-contrast {
  color: var(--rr-color-teal-contrast);
}
.color-teal-contrastx {
  color: var(--rr-color-teal-contrastx);
}
.color-tint {
  color: var(--rr-color-tint);
}
.color-tint-100 {
  color: var(--rr-color-tint-100);
}
.color-tint-200 {
  color: var(--rr-color-tint-200);
}
.color-tint-300 {
  color: var(--rr-color-tint-300);
}
.color-tint-400 {
  color: var(--rr-color-tint-400);
}
.color-tint-50 {
  color: var(--rr-color-tint-50);
}
.color-tint-500 {
  color: var(--rr-color-tint-500);
}
.color-tint-600 {
  color: var(--rr-color-tint-600);
}
.color-tint-700 {
  color: var(--rr-color-tint-700);
}
.color-tint-800 {
  color: var(--rr-color-tint-800);
}
.color-tint-900 {
  color: var(--rr-color-tint-900);
}
.color-transparent {
  color: var(--rr-color-transparent);
}
.color-violet {
  color: var(--rr-color-violet);
}
.color-violet-100 {
  color: var(--rr-color-violet-100);
}
.color-violet-200 {
  color: var(--rr-color-violet-200);
}
.color-violet-300 {
  color: var(--rr-color-violet-300);
}
.color-violet-400 {
  color: var(--rr-color-violet-400);
}
.color-violet-50 {
  color: var(--rr-color-violet-50);
}
.color-violet-500 {
  color: var(--rr-color-violet-500);
}
.color-violet-600 {
  color: var(--rr-color-violet-600);
}
.color-violet-700 {
  color: var(--rr-color-violet-700);
}
.color-violet-800 {
  color: var(--rr-color-violet-800);
}
.color-violet-900 {
  color: var(--rr-color-violet-900);
}
.color-violet-950 {
  color: var(--rr-color-violet-950);
}
.color-violet-contrast {
  color: var(--rr-color-violet-contrast);
}
.color-violet-contrastx {
  color: var(--rr-color-violet-contrastx);
}
.color-warning {
  color: var(--rr-color-warning);
}
.color-warning-100 {
  color: var(--rr-color-warning-100);
}
.color-warning-200 {
  color: var(--rr-color-warning-200);
}
.color-warning-300 {
  color: var(--rr-color-warning-300);
}
.color-warning-400 {
  color: var(--rr-color-warning-400);
}
.color-warning-50 {
  color: var(--rr-color-warning-50);
}
.color-warning-500 {
  color: var(--rr-color-warning-500);
}
.color-warning-600 {
  color: var(--rr-color-warning-600);
}
.color-warning-700 {
  color: var(--rr-color-warning-700);
}
.color-warning-800 {
  color: var(--rr-color-warning-800);
}
.color-warning-900 {
  color: var(--rr-color-warning-900);
}
.color-warning-950 {
  color: var(--rr-color-warning-950);
}
.color-warning-contrast {
  color: var(--rr-color-warning-contrast);
}
.color-warning-contrastx {
  color: var(--rr-color-warning-contrastx);
}
.color-white {
  color: var(--rr-color-white);
}
.color-yellow {
  color: var(--rr-color-yellow);
}
.color-yellow-100 {
  color: var(--rr-color-yellow-100);
}
.color-yellow-200 {
  color: var(--rr-color-yellow-200);
}
.color-yellow-300 {
  color: var(--rr-color-yellow-300);
}
.color-yellow-400 {
  color: var(--rr-color-yellow-400);
}
.color-yellow-50 {
  color: var(--rr-color-yellow-50);
}
.color-yellow-500 {
  color: var(--rr-color-yellow-500);
}
.color-yellow-600 {
  color: var(--rr-color-yellow-600);
}
.color-yellow-700 {
  color: var(--rr-color-yellow-700);
}
.color-yellow-800 {
  color: var(--rr-color-yellow-800);
}
.color-yellow-900 {
  color: var(--rr-color-yellow-900);
}
.color-yellow-950 {
  color: var(--rr-color-yellow-950);
}
.color-yellow-contrast {
  color: var(--rr-color-yellow-contrast);
}
.color-yellow-contrastx {
  color: var(--rr-color-yellow-contrastx);
}
.color-zinc {
  color: var(--rr-color-zinc);
}
.color-zinc-100 {
  color: var(--rr-color-zinc-100);
}
.color-zinc-200 {
  color: var(--rr-color-zinc-200);
}
.color-zinc-300 {
  color: var(--rr-color-zinc-300);
}
.color-zinc-400 {
  color: var(--rr-color-zinc-400);
}
.color-zinc-50 {
  color: var(--rr-color-zinc-50);
}
.color-zinc-500 {
  color: var(--rr-color-zinc-500);
}
.color-zinc-600 {
  color: var(--rr-color-zinc-600);
}
.color-zinc-700 {
  color: var(--rr-color-zinc-700);
}
.color-zinc-800 {
  color: var(--rr-color-zinc-800);
}
.color-zinc-900 {
  color: var(--rr-color-zinc-900);
}
.color-zinc-950 {
  color: var(--rr-color-zinc-950);
}
.color-zinc-contrast {
  color: var(--rr-color-zinc-contrast);
}
.color-zinc-contrastx {
  color: var(--rr-color-zinc-contrastx);
}
