.text-2xl {
  font-size: var(--rr-font-size-2xl);
  line-height: var(--rr-line-height-2xl);
}
.text-3xl {
  font-size: var(--rr-font-size-3xl);
  line-height: var(--rr-line-height-3xl);
}
.text-4xl {
  font-size: var(--rr-font-size-4xl);
  line-height: var(--rr-line-height-4xl);
}
.text-xl {
  font-size: var(--rr-font-size-xl);
  line-height: var(--rr-line-height-xl);
}
.text-xs {
  font-size: var(--rr-font-size-xs);
  line-height: var(--rr-line-height-xs);
}
.text-base-bg {
  color: var(--rr-color-gray-50);
}
.text-base-secondary-text {
  color: var(--rr-color-neutral-800);
}
.text-base-text {
  color: var(--rr-color-neutral-800);
}
