logs
*.log
npm-debug.log*
coverage
node_modules/
.npm
tw-dist
dist
dist-dev
*.tsbuildinfo
packages/**/*.js
packages/**/*.js.map
packages/**/*.d.ts
site/**/*.js
site/**/*.js.map
site/**/*.d.ts
!site/@types/*.d.ts
site/src/**/*.cjs
site/src/**/*.cjs.map
site/src/**/*.d.ts