@import "tailwindcss/theme" layer(theme);

@theme {
  --color-slate-contrast: #fff;
  --color-slate: var(--color-slate-700);
  --color-gray-contrast: #fff;
  --color-gray: var(--color-gray-700);
  --color-zinc-contrast: #fff;
  --color-zinc: var(--color-zinc-700);
  --color-neutral-contrast: #fff;
  --color-neutral: var(--color-neutral-700);
  --color-stone-contrast: #fff;
  --color-stone: var(--color-stone-700);
  --color-red-contrast: #fff;
  --color-red: var(--color-red-700);
  --color-orange-contrast: #fff;
  --color-orange: var(--color-orange-700);
  --color-amber-contrast: #fff;
  --color-amber: var(--color-amber-700);
  --color-yellow-contrast: #fff;
  --color-yellow: var(--color-yellow-700);
  --color-lime-contrast: #fff;
  --color-lime: var(--color-lime-700);
  --color-green-contrast: #fff;
  --color-green: var(--color-green-700);
  --color-emerald-contrast: #fff;
  --color-emerald: var(--color-emerald-700);
  --color-teal-contrast: #fff;
  --color-teal: var(--color-teal-700);
  --color-cyan-contrast: #fff;
  --color-cyan: var(--color-cyan-700);
  --color-sky-contrast: #fff;
  --color-sky: var(--color-sky-700);
  --color-blue-contrast: #fff;
  --color-blue: var(--color-blue-700);
  --color-indigo-contrast: #fff;
  --color-indigo: var(--color-indigo-700);
  --color-violet-contrast: #fff;
  --color-violet: var(--color-violet-700);
  --color-purple-contrast: #fff;
  --color-purple: var(--color-purple-700);
  --color-fuchsia-contrast: #fff;
  --color-fuchsia: var(--color-fuchsia-700);
  --color-pink-contrast: #fff;
  --color-pink: var(--color-pink-700);
  --color-rose-contrast: #fff;
  --color-rose: var(--color-rose-700);

  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  --color-primary-contrast: var(--color-blue-contrast);
  --color-primary: var(--color-blue);
}

@theme static {
  --color-black-50: rgba(0, 0, 0, 0.05);
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-300: rgba(0, 0, 0, 0.3);
  --color-black-400: rgba(0, 0, 0, 0.4);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-black-700: rgba(0, 0, 0, 0.7);
  --color-black-800: rgba(0, 0, 0, 0.8);
  --color-black-900: rgba(0, 0, 0, 0.9);
  --color-black-950: rgba(0, 0, 0, 0.95);
  --color-white-50: rgba(255, 255, 255, 0.05);
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-600: rgba(255, 255, 255, 0.6);
  --color-white-700: rgba(255, 255, 255, 0.7);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-white-950: rgba(255, 255, 255, 0.95);
  --color-contrast-50: rgba(0, 0, 0, 0.05);
  --color-contrast-100: rgba(0, 0, 0, 0.1);
  --color-contrast-200: rgba(0, 0, 0, 0.2);
  --color-contrast-300: rgba(0, 0, 0, 0.3);
  --color-contrast-400: rgba(0, 0, 0, 0.4);
  --color-contrast-500: rgba(0, 0, 0, 0.5);
  --color-contrast-600: rgba(0, 0, 0, 0.6);
  --color-contrast-700: rgba(0, 0, 0, 0.7);
  --color-contrast-800: rgba(0, 0, 0, 0.8);
  --color-contrast-900: rgba(0, 0, 0, 0.9);
  --color-contrast-950: rgba(0, 0, 0, 0.95);
  --color-contrast: rgba(0, 0, 0);
}
