[theme~='dark'],
:host([theme~='dark']) {
  --rr-color-contrast-50: rgba(255, 255, 255, 0.05);
  --rr-color-contrast-100: rgba(255, 255, 255, 0.1);
  --rr-color-contrast-200: rgba(255, 255, 255, 0.2);
  --rr-color-contrast-300: rgba(255, 255, 255, 0.3);
  --rr-color-contrast-400: rgba(255, 255, 255, 0.4);
  --rr-color-contrast-500: rgba(255, 255, 255, 0.5);
  --rr-color-contrast-600: rgba(255, 255, 255, 0.6);
  --rr-color-contrast-700: rgba(255, 255, 255, 0.7);
  --rr-color-contrast-800: rgba(255, 255, 255, 0.8);
  --rr-color-contrast-900: rgba(255, 255, 255, 0.9);
  --rr-color-contrast: rgb(255, 255, 255);
  --rr-color-base-bg: var(--rr-color-shade-900);
  --rr-color-base-text: var(--rr-color-neutral-900);
  --rr-color-base-secondary-text: var(--rr-color-neutral-700);
  --rr-color-surface-bg: var(--rr-color-gray-200);
  --rr-color-surface-text: var(--rr-color-neutral-900);
  --rr-color-surface-secondary-text: var(--rr-color-neutral-700);
  --rr-color-divider: var(--rr-color-zinc-300);
  --rr-color-divider-secondary: var(--rr-color-zinc-200);
  --rr-color-slate-50: #0c1222;
  --rr-color-slate-100: #0f172a;
  --rr-color-slate-200: #1e293b;
  --rr-color-slate-300: #334155;
  --rr-color-slate-400: #475569;
  --rr-color-slate-500: #64748b;
  --rr-color-slate-600: #94a3b8;
  --rr-color-slate-700: #cbd5e1;
  --rr-color-slate-800: #e2e8f0;
  --rr-color-slate-900: #f1f5f9;
  --rr-color-slate-950: #f8fafc;
  --rr-color-slate: #64748b;
  --rr-color-slate-contrast: #fff;
  --rr-color-slate-contrastx: #000;
  --rr-color-gray-50: #0e131f;
  --rr-color-gray-100: #111827;
  --rr-color-gray-200: #1f2937;
  --rr-color-gray-300: #374151;
  --rr-color-gray-400: #4b5563;
  --rr-color-gray-500: #6b7280;
  --rr-color-gray-600: #9ca3af;
  --rr-color-gray-700: #d1d5db;
  --rr-color-gray-800: #e5e7eb;
  --rr-color-gray-900: #f3f4f6;
  --rr-color-gray-950: #f9fafb;
  --rr-color-gray: #6b7280;
  --rr-color-gray-contrast: #fff;
  --rr-color-gray-contrastx: #000;
  --rr-color-zinc-50: #131316;
  --rr-color-zinc-100: #18181b;
  --rr-color-zinc-200: #27272a;
  --rr-color-zinc-300: #3f3f46;
  --rr-color-zinc-400: #52525b;
  --rr-color-zinc-500: #71717a;
  --rr-color-zinc-600: #a1a1aa;
  --rr-color-zinc-700: #d4d4d8;
  --rr-color-zinc-800: #e4e4e7;
  --rr-color-zinc-900: #f4f4f5;
  --rr-color-zinc-950: #fafafa;
  --rr-color-zinc: #71717a;
  --rr-color-zinc-contrast: #fff;
  --rr-color-zinc-contrastx: #000;
  --rr-color-stone-50: #161412;
  --rr-color-stone-100: #1c1917;
  --rr-color-stone-200: #292524;
  --rr-color-stone-300: #44403c;
  --rr-color-stone-400: #57534e;
  --rr-color-stone-500: #78716c;
  --rr-color-stone-600: #a8a29e;
  --rr-color-stone-700: #d6d3d1;
  --rr-color-stone-800: #e7e5e4;
  --rr-color-stone-900: #f5f5f4;
  --rr-color-stone-950: #fafaf9;
  --rr-color-stone: #78716c;
  --rr-color-stone-contrast: #fff;
  --rr-color-stone-contrastx: #000;
  --rr-color-neutral-50: #121212;
  --rr-color-neutral-100: #171717;
  --rr-color-neutral-200: #262626;
  --rr-color-neutral-300: #404040;
  --rr-color-neutral-400: #525252;
  --rr-color-neutral-500: #737373;
  --rr-color-neutral-600: #a3a3a3;
  --rr-color-neutral-700: #d4d4d4;
  --rr-color-neutral-800: #e5e5e5;
  --rr-color-neutral-900: #f5f5f5;
  --rr-color-neutral-950: #fafafa;
  --rr-color-neutral: #737373;
  --rr-color-neutral-contrast: #fff;
  --rr-color-neutral-contrastx: #000;
  --rr-color-red-50: #661717;
  --rr-color-red-100: #7f1d1d;
  --rr-color-red-200: #991b1b;
  --rr-color-red-300: #b91c1c;
  --rr-color-red-400: #dc2626;
  --rr-color-red-500: #ef4444;
  --rr-color-red-600: #f87171;
  --rr-color-red-700: #fca5a5;
  --rr-color-red-800: #fecaca;
  --rr-color-red-900: #fee2e2;
  --rr-color-red-950: #fef2f2;
  --rr-color-red: #ef4444;
  --rr-color-red-contrast: #fff;
  --rr-color-red-contrastx: #000;
  --rr-color-orange-50: #63240e;
  --rr-color-orange-100: #7c2d12;
  --rr-color-orange-200: #9a3412;
  --rr-color-orange-300: #c2410c;
  --rr-color-orange-400: #ea580c;
  --rr-color-orange-500: #f97316;
  --rr-color-orange-600: #fb923c;
  --rr-color-orange-700: #fdba74;
  --rr-color-orange-800: #fed7aa;
  --rr-color-orange-900: #ffedd5;
  --rr-color-orange-950: #fff7ed;
  --rr-color-orange: #f97316;
  --rr-color-orange-contrast: #fff;
  --rr-color-orange-contrastx: #000;
  --rr-color-yellow-50: #5a320e;
  --rr-color-yellow-100: #713f12;
  --rr-color-yellow-200: #854d0e;
  --rr-color-yellow-300: #a16207;
  --rr-color-yellow-400: #ca8a04;
  --rr-color-yellow-500: #eab308;
  --rr-color-yellow-600: #facc15;
  --rr-color-yellow-700: #fde047;
  --rr-color-yellow-800: #fef08a;
  --rr-color-yellow-900: #fef9c3;
  --rr-color-yellow-950: #fefce8;
  --rr-color-yellow: #eab308;
  --rr-color-yellow-contrast: #fff;
  --rr-color-yellow-contrastx: #000;
  --rr-color-green-50: #104224;
  --rr-color-green-100: #14532d;
  --rr-color-green-200: #166534;
  --rr-color-green-300: #15803d;
  --rr-color-green-400: #16a34a;
  --rr-color-green-500: #22c55e;
  --rr-color-green-600: #4ade80;
  --rr-color-green-700: #86efac;
  --rr-color-green-800: #bbf7d0;
  --rr-color-green-900: #dcfce7;
  --rr-color-green-950: #f0fdf4;
  --rr-color-green: #22c55e;
  --rr-color-green-contrast: #fff;
  --rr-color-green-contrastx: #000;
  --rr-color-teal-50: #0f3e3b;
  --rr-color-teal-100: #134e4a;
  --rr-color-teal-200: #115e59;
  --rr-color-teal-300: #0f766e;
  --rr-color-teal-400: #0d9488;
  --rr-color-teal-500: #14b8a6;
  --rr-color-teal-600: #2dd4bf;
  --rr-color-teal-700: #5eead4;
  --rr-color-teal-800: #99f6e4;
  --rr-color-teal-900: #ccfbf1;
  --rr-color-teal-950: #f0fdfa;
  --rr-color-teal: #14b8a6;
  --rr-color-teal-contrast: #fff;
  --rr-color-teal-contrastx: #000;
  --rr-color-sky-50: #0a3b58;
  --rr-color-sky-100: #0c4a6e;
  --rr-color-sky-200: #075985;
  --rr-color-sky-300: #0369a1;
  --rr-color-sky-400: #0284c7;
  --rr-color-sky-500: #0ea5e9;
  --rr-color-sky-600: #38bdf8;
  --rr-color-sky-700: #7dd3fc;
  --rr-color-sky-800: #bae6fd;
  --rr-color-sky-900: #e0f2fe;
  --rr-color-sky-950: #f0f9ff;
  --rr-color-sky: #0ea5e9;
  --rr-color-sky-contrast: #fff;
  --rr-color-sky-contrastx: #000;
  --rr-color-blue-50: #182e6e;
  --rr-color-blue-100: #1e3a8a;
  --rr-color-blue-200: #1e40af;
  --rr-color-blue-300: #1d4ed8;
  --rr-color-blue-400: #2563eb;
  --rr-color-blue-500: #3b82f6;
  --rr-color-blue-600: #60a5fa;
  --rr-color-blue-700: #93c5fd;
  --rr-color-blue-800: #bfdbfe;
  --rr-color-blue-900: #dbeafe;
  --rr-color-blue-950: #eff6ff;
  --rr-color-blue: #3b82f6;
  --rr-color-blue-contrast: #fff;
  --rr-color-blue-contrastx: #000;
  --rr-color-indigo-50: #272567;
  --rr-color-indigo-100: #312e81;
  --rr-color-indigo-200: #3730a3;
  --rr-color-indigo-300: #4338ca;
  --rr-color-indigo-400: #4f46e5;
  --rr-color-indigo-500: #6366f1;
  --rr-color-indigo-600: #818cf8;
  --rr-color-indigo-700: #a5b4fc;
  --rr-color-indigo-800: #c7d2fe;
  --rr-color-indigo-900: #e0e7ff;
  --rr-color-indigo-950: #eef2ff;
  --rr-color-indigo: #6366f1;
  --rr-color-indigo-contrast: #fff;
  --rr-color-indigo-contrastx: #000;
  --rr-color-violet-50: #3d1777;
  --rr-color-violet-100: #4c1d95;
  --rr-color-violet-200: #5b21b6;
  --rr-color-violet-300: #6d28d9;
  --rr-color-violet-400: #7c3aed;
  --rr-color-violet-500: #8b5cf6;
  --rr-color-violet-600: #a78bfa;
  --rr-color-violet-700: #c4b5fd;
  --rr-color-violet-800: #ddd6fe;
  --rr-color-violet-900: #ede9fe;
  --rr-color-violet-950: #f5f3ff;
  --rr-color-violet: #8b5cf6;
  --rr-color-violet-contrast: #fff;
  --rr-color-violet-contrastx: #000;
  --rr-color-pink-50: #691336;
  --rr-color-pink-100: #831843;
  --rr-color-pink-200: #9d174d;
  --rr-color-pink-300: #be185d;
  --rr-color-pink-400: #db2777;
  --rr-color-pink-500: #ec4899;
  --rr-color-pink-600: #f472b6;
  --rr-color-pink-700: #f9a8d4;
  --rr-color-pink-800: #fbcfe8;
  --rr-color-pink-900: #fce7f3;
  --rr-color-pink-950: #fdf2f8;
  --rr-color-pink: #ec4899;
  --rr-color-pink-contrast: #fff;
  --rr-color-pink-contrastx: #000;
  --rr-color-primary-50: var(--rr-color-blue-50);
  --rr-color-primary-100: var(--rr-color-blue-100);
  --rr-color-primary-200: var(--rr-color-blue-200);
  --rr-color-primary-300: var(--rr-color-blue-300);
  --rr-color-primary-400: var(--rr-color-blue-400);
  --rr-color-primary-500: var(--rr-color-blue-500);
  --rr-color-primary-600: var(--rr-color-blue-600);
  --rr-color-primary-700: var(--rr-color-blue-700);
  --rr-color-primary-800: var(--rr-color-blue-800);
  --rr-color-primary-900: var(--rr-color-blue-900);
  --rr-color-primary-950: var(--rr-color-blue-950);
  --rr-color-primary: var(--rr-color-blue);
  --rr-color-primary-contrast: var(--rr-color-blue-contrast);
  --rr-color-primary-contrastx: var(--rr-color-blue-contrastx);
  --rr-color-success-50: var(--rr-color-green-50);
  --rr-color-success-100: var(--rr-color-green-100);
  --rr-color-success-200: var(--rr-color-green-200);
  --rr-color-success-300: var(--rr-color-green-300);
  --rr-color-success-400: var(--rr-color-green-400);
  --rr-color-success-500: var(--rr-color-green-500);
  --rr-color-success-600: var(--rr-color-green-600);
  --rr-color-success-700: var(--rr-color-green-700);
  --rr-color-success-800: var(--rr-color-green-800);
  --rr-color-success-900: var(--rr-color-green-900);
  --rr-color-success-950: var(--rr-color-green-950);
  --rr-color-success: var(--rr-color-green);
  --rr-color-success-contrast: var(--rr-color-green-contrast);
  --rr-color-success-contrastx: var(--rr-color-green-contrastx);
  --rr-color-danger-50: var(--rr-color-red-50);
  --rr-color-danger-100: var(--rr-color-red-100);
  --rr-color-danger-200: var(--rr-color-red-200);
  --rr-color-danger-300: var(--rr-color-red-300);
  --rr-color-danger-400: var(--rr-color-red-400);
  --rr-color-danger-500: var(--rr-color-red-500);
  --rr-color-danger-600: var(--rr-color-red-600);
  --rr-color-danger-700: var(--rr-color-red-700);
  --rr-color-danger-800: var(--rr-color-red-800);
  --rr-color-danger-900: var(--rr-color-red-900);
  --rr-color-danger-950: var(--rr-color-red-950);
  --rr-color-danger: var(--rr-color-red);
  --rr-color-danger-contrast: var(--rr-color-red-contrast);
  --rr-color-danger-contrastx: var(--rr-color-red-contrastx);
  --rr-color-warning-50: var(--rr-color-yellow-50);
  --rr-color-warning-100: var(--rr-color-yellow-100);
  --rr-color-warning-200: var(--rr-color-yellow-200);
  --rr-color-warning-300: var(--rr-color-yellow-300);
  --rr-color-warning-400: var(--rr-color-yellow-400);
  --rr-color-warning-500: var(--rr-color-yellow-500);
  --rr-color-warning-600: var(--rr-color-yellow-600);
  --rr-color-warning-700: var(--rr-color-yellow-700);
  --rr-color-warning-800: var(--rr-color-yellow-800);
  --rr-color-warning-900: var(--rr-color-yellow-900);
  --rr-color-warning-950: var(--rr-color-yellow-950);
  --rr-color-warning: var(--rr-color-yellow);
  --rr-color-warning-contrast: var(--rr-color-yellow-contrast);
  --rr-color-warning-contrastx: var(--rr-color-yellow-contrastx);
  --rr-color-info-50: var(--rr-color-teal-50);
  --rr-color-info-100: var(--rr-color-teal-100);
  --rr-color-info-200: var(--rr-color-teal-200);
  --rr-color-info-300: var(--rr-color-teal-300);
  --rr-color-info-400: var(--rr-color-teal-400);
  --rr-color-info-500: var(--rr-color-teal-500);
  --rr-color-info-600: var(--rr-color-teal-600);
  --rr-color-info-700: var(--rr-color-teal-700);
  --rr-color-info-800: var(--rr-color-teal-800);
  --rr-color-info-900: var(--rr-color-teal-900);
  --rr-color-info-950: var(--rr-color-teal-950);
  --rr-color-info: var(--rr-color-teal);
  --rr-color-info-contrast: var(--rr-color-teal-contrast);
  --rr-color-info-contrastx: var(--rr-color-teal-contrastx);
}
.xxx-1 {
  color: 1;
}
.xxx-2 {
  color: 2;
}
