:root {
  --rr-color-inherit: inherit;
  --rr-color-current: currentColor;
  --rr-color-transparent: transparent;
  --rr-color-black: #000;
  --rr-color-white: #fff;
  --rr-color-shade-50: rgba(0, 0, 0, 0.05);
  --rr-color-shade-100: rgba(0, 0, 0, 0.1);
  --rr-color-shade-200: rgba(0, 0, 0, 0.2);
  --rr-color-shade-300: rgba(0, 0, 0, 0.3);
  --rr-color-shade-400: rgba(0, 0, 0, 0.4);
  --rr-color-shade-500: rgba(0, 0, 0, 0.5);
  --rr-color-shade-600: rgba(0, 0, 0, 0.6);
  --rr-color-shade-700: rgba(0, 0, 0, 0.7);
  --rr-color-shade-800: rgba(0, 0, 0, 0.8);
  --rr-color-shade-900: rgba(0, 0, 0, 0.9);
  --rr-color-shade: rgba(0, 0, 0);
  --rr-color-tint-50: rgba(255, 255, 255, 0.05);
  --rr-color-tint-100: rgba(255, 255, 255, 0.1);
  --rr-color-tint-200: rgba(255, 255, 255, 0.2);
  --rr-color-tint-300: rgba(255, 255, 255, 0.3);
  --rr-color-tint-400: rgba(255, 255, 255, 0.4);
  --rr-color-tint-500: rgba(255, 255, 255, 0.5);
  --rr-color-tint-600: rgba(255, 255, 255, 0.6);
  --rr-color-tint-700: rgba(255, 255, 255, 0.7);
  --rr-color-tint-800: rgba(255, 255, 255, 0.8);
  --rr-color-tint-900: rgba(255, 255, 255, 0.9);
  --rr-color-tint: rgba(255, 255, 255);
  --rr-color-contrast-50: rgba(0, 0, 0, 0.05);
  --rr-color-contrast-100: rgba(0, 0, 0, 0.1);
  --rr-color-contrast-200: rgba(0, 0, 0, 0.2);
  --rr-color-contrast-300: rgba(0, 0, 0, 0.3);
  --rr-color-contrast-400: rgba(0, 0, 0, 0.4);
  --rr-color-contrast-500: rgba(0, 0, 0, 0.5);
  --rr-color-contrast-600: rgba(0, 0, 0, 0.6);
  --rr-color-contrast-700: rgba(0, 0, 0, 0.7);
  --rr-color-contrast-800: rgba(0, 0, 0, 0.8);
  --rr-color-contrast-900: rgba(0, 0, 0, 0.9);
  --rr-color-contrast: rgba(0, 0, 0);
  --rr-color-slate-50: #f8fafc;
  --rr-color-slate-100: #f1f5f9;
  --rr-color-slate-200: #e2e8f0;
  --rr-color-slate-300: #cbd5e1;
  --rr-color-slate-400: #94a3b8;
  --rr-color-slate-500: #64748b;
  --rr-color-slate-600: #475569;
  --rr-color-slate-700: #334155;
  --rr-color-slate-800: #1e293b;
  --rr-color-slate-900: #0f172a;
  --rr-color-slate-950: #0c1222;
  --rr-color-slate: #64748b;
  --rr-color-slate-contrast: #fff;
  --rr-color-slate-contrastx: #000;
  --rr-color-gray-50: #f9fafb;
  --rr-color-gray-100: #f3f4f6;
  --rr-color-gray-200: #e5e7eb;
  --rr-color-gray-300: #d1d5db;
  --rr-color-gray-400: #9ca3af;
  --rr-color-gray-500: #6b7280;
  --rr-color-gray-600: #4b5563;
  --rr-color-gray-700: #374151;
  --rr-color-gray-800: #1f2937;
  --rr-color-gray-900: #111827;
  --rr-color-gray-950: #0e131f;
  --rr-color-gray: #6b7280;
  --rr-color-gray-contrast: #fff;
  --rr-color-gray-contrastx: #000;
  --rr-color-zinc-50: #fafafa;
  --rr-color-zinc-100: #f4f4f5;
  --rr-color-zinc-200: #e4e4e7;
  --rr-color-zinc-300: #d4d4d8;
  --rr-color-zinc-400: #a1a1aa;
  --rr-color-zinc-500: #71717a;
  --rr-color-zinc-600: #52525b;
  --rr-color-zinc-700: #3f3f46;
  --rr-color-zinc-800: #27272a;
  --rr-color-zinc-900: #18181b;
  --rr-color-zinc-950: #131316;
  --rr-color-zinc: #71717a;
  --rr-color-zinc-contrast: #fff;
  --rr-color-zinc-contrastx: #000;
  --rr-color-neutral-50: #fafafa;
  --rr-color-neutral-100: #f5f5f5;
  --rr-color-neutral-200: #e5e5e5;
  --rr-color-neutral-300: #d4d4d4;
  --rr-color-neutral-400: #a3a3a3;
  --rr-color-neutral-500: #737373;
  --rr-color-neutral-600: #525252;
  --rr-color-neutral-700: #404040;
  --rr-color-neutral-800: #262626;
  --rr-color-neutral-900: #171717;
  --rr-color-neutral-950: #121212;
  --rr-color-neutral: #737373;
  --rr-color-neutral-contrast: #fff;
  --rr-color-neutral-contrastx: #000;
  --rr-color-stone-50: #fafaf9;
  --rr-color-stone-100: #f5f5f4;
  --rr-color-stone-200: #e7e5e4;
  --rr-color-stone-300: #d6d3d1;
  --rr-color-stone-400: #a8a29e;
  --rr-color-stone-500: #78716c;
  --rr-color-stone-600: #57534e;
  --rr-color-stone-700: #44403c;
  --rr-color-stone-800: #292524;
  --rr-color-stone-900: #1c1917;
  --rr-color-stone-950: #161412;
  --rr-color-stone: #78716c;
  --rr-color-stone-contrast: #fff;
  --rr-color-stone-contrastx: #000;
  --rr-color-red-50: #fef2f2;
  --rr-color-red-100: #fee2e2;
  --rr-color-red-200: #fecaca;
  --rr-color-red-300: #fca5a5;
  --rr-color-red-400: #f87171;
  --rr-color-red-500: #ef4444;
  --rr-color-red-600: #dc2626;
  --rr-color-red-700: #b91c1c;
  --rr-color-red-800: #991b1b;
  --rr-color-red-900: #7f1d1d;
  --rr-color-red-950: #661717;
  --rr-color-red: #ef4444;
  --rr-color-red-contrast: #fff;
  --rr-color-red-contrastx: #000;
  --rr-color-orange-50: #fff7ed;
  --rr-color-orange-100: #ffedd5;
  --rr-color-orange-200: #fed7aa;
  --rr-color-orange-300: #fdba74;
  --rr-color-orange-400: #fb923c;
  --rr-color-orange-500: #f97316;
  --rr-color-orange-600: #ea580c;
  --rr-color-orange-700: #c2410c;
  --rr-color-orange-800: #9a3412;
  --rr-color-orange-900: #7c2d12;
  --rr-color-orange-950: #63240e;
  --rr-color-orange: #f97316;
  --rr-color-orange-contrast: #fff;
  --rr-color-orange-contrastx: #000;
  --rr-color-amber-50: #fffbeb;
  --rr-color-amber-100: #fef3c7;
  --rr-color-amber-200: #fde68a;
  --rr-color-amber-300: #fcd34d;
  --rr-color-amber-400: #fbbf24;
  --rr-color-amber-500: #f59e0b;
  --rr-color-amber-600: #d97706;
  --rr-color-amber-700: #b45309;
  --rr-color-amber-800: #92400e;
  --rr-color-amber-900: #78350f;
  --rr-color-amber-950: #602a0c;
  --rr-color-amber: #f59e0b;
  --rr-color-amber-contrast: #fff;
  --rr-color-amber-contrastx: #000;
  --rr-color-yellow-50: #fefce8;
  --rr-color-yellow-100: #fef9c3;
  --rr-color-yellow-200: #fef08a;
  --rr-color-yellow-300: #fde047;
  --rr-color-yellow-400: #facc15;
  --rr-color-yellow-500: #eab308;
  --rr-color-yellow-600: #ca8a04;
  --rr-color-yellow-700: #a16207;
  --rr-color-yellow-800: #854d0e;
  --rr-color-yellow-900: #713f12;
  --rr-color-yellow-950: #5a320e;
  --rr-color-yellow: #eab308;
  --rr-color-yellow-contrast: #fff;
  --rr-color-yellow-contrastx: #000;
  --rr-color-lime-50: #f7fee7;
  --rr-color-lime-100: #ecfccb;
  --rr-color-lime-200: #d9f99d;
  --rr-color-lime-300: #bef264;
  --rr-color-lime-400: #a3e635;
  --rr-color-lime-500: #84cc16;
  --rr-color-lime-600: #65a30d;
  --rr-color-lime-700: #4d7c0f;
  --rr-color-lime-800: #3f6212;
  --rr-color-lime-900: #365314;
  --rr-color-lime-950: #2b4210;
  --rr-color-lime: #84cc16;
  --rr-color-lime-contrast: #fff;
  --rr-color-lime-contrastx: #000;
  --rr-color-green-50: #f0fdf4;
  --rr-color-green-100: #dcfce7;
  --rr-color-green-200: #bbf7d0;
  --rr-color-green-300: #86efac;
  --rr-color-green-400: #4ade80;
  --rr-color-green-500: #22c55e;
  --rr-color-green-600: #16a34a;
  --rr-color-green-700: #15803d;
  --rr-color-green-800: #166534;
  --rr-color-green-900: #14532d;
  --rr-color-green-950: #104224;
  --rr-color-green: #22c55e;
  --rr-color-green-contrast: #fff;
  --rr-color-green-contrastx: #000;
  --rr-color-emerald-50: #ecfdf5;
  --rr-color-emerald-100: #d1fae5;
  --rr-color-emerald-200: #a7f3d0;
  --rr-color-emerald-300: #6ee7b7;
  --rr-color-emerald-400: #34d399;
  --rr-color-emerald-500: #10b981;
  --rr-color-emerald-600: #059669;
  --rr-color-emerald-700: #047857;
  --rr-color-emerald-800: #065f46;
  --rr-color-emerald-900: #064e3b;
  --rr-color-emerald-950: #053e2f;
  --rr-color-emerald: #10b981;
  --rr-color-emerald-contrast: #fff;
  --rr-color-emerald-contrastx: #000;
  --rr-color-teal-50: #f0fdfa;
  --rr-color-teal-100: #ccfbf1;
  --rr-color-teal-200: #99f6e4;
  --rr-color-teal-300: #5eead4;
  --rr-color-teal-400: #2dd4bf;
  --rr-color-teal-500: #14b8a6;
  --rr-color-teal-600: #0d9488;
  --rr-color-teal-700: #0f766e;
  --rr-color-teal-800: #115e59;
  --rr-color-teal-900: #134e4a;
  --rr-color-teal-950: #0f3e3b;
  --rr-color-teal: #14b8a6;
  --rr-color-teal-contrast: #fff;
  --rr-color-teal-contrastx: #000;
  --rr-color-cyan-50: #ecfeff;
  --rr-color-cyan-100: #cffafe;
  --rr-color-cyan-200: #a5f3fc;
  --rr-color-cyan-300: #67e8f9;
  --rr-color-cyan-400: #22d3ee;
  --rr-color-cyan-500: #06b6d4;
  --rr-color-cyan-600: #0891b2;
  --rr-color-cyan-700: #0e7490;
  --rr-color-cyan-800: #155e75;
  --rr-color-cyan-900: #164e63;
  --rr-color-cyan-950: #123e4f;
  --rr-color-cyan: #06b6d4;
  --rr-color-cyan-contrast: #fff;
  --rr-color-cyan-contrastx: #000;
  --rr-color-sky-50: #f0f9ff;
  --rr-color-sky-100: #e0f2fe;
  --rr-color-sky-200: #bae6fd;
  --rr-color-sky-300: #7dd3fc;
  --rr-color-sky-400: #38bdf8;
  --rr-color-sky-500: #0ea5e9;
  --rr-color-sky-600: #0284c7;
  --rr-color-sky-700: #0369a1;
  --rr-color-sky-800: #075985;
  --rr-color-sky-900: #0c4a6e;
  --rr-color-sky-950: #0a3b58;
  --rr-color-sky: #0ea5e9;
  --rr-color-sky-contrast: #fff;
  --rr-color-sky-contrastx: #000;
  --rr-color-blue-50: #eff6ff;
  --rr-color-blue-100: #dbeafe;
  --rr-color-blue-200: #bfdbfe;
  --rr-color-blue-300: #93c5fd;
  --rr-color-blue-400: #60a5fa;
  --rr-color-blue-500: #3b82f6;
  --rr-color-blue-600: #2563eb;
  --rr-color-blue-700: #1d4ed8;
  --rr-color-blue-800: #1e40af;
  --rr-color-blue-900: #1e3a8a;
  --rr-color-blue-950: #182e6e;
  --rr-color-blue: #3b82f6;
  --rr-color-blue-contrast: #fff;
  --rr-color-blue-contrastx: #000;
  --rr-color-indigo-50: #eef2ff;
  --rr-color-indigo-100: #e0e7ff;
  --rr-color-indigo-200: #c7d2fe;
  --rr-color-indigo-300: #a5b4fc;
  --rr-color-indigo-400: #818cf8;
  --rr-color-indigo-500: #6366f1;
  --rr-color-indigo-600: #4f46e5;
  --rr-color-indigo-700: #4338ca;
  --rr-color-indigo-800: #3730a3;
  --rr-color-indigo-900: #312e81;
  --rr-color-indigo-950: #272567;
  --rr-color-indigo: #6366f1;
  --rr-color-indigo-contrast: #fff;
  --rr-color-indigo-contrastx: #000;
  --rr-color-violet-50: #f5f3ff;
  --rr-color-violet-100: #ede9fe;
  --rr-color-violet-200: #ddd6fe;
  --rr-color-violet-300: #c4b5fd;
  --rr-color-violet-400: #a78bfa;
  --rr-color-violet-500: #8b5cf6;
  --rr-color-violet-600: #7c3aed;
  --rr-color-violet-700: #6d28d9;
  --rr-color-violet-800: #5b21b6;
  --rr-color-violet-900: #4c1d95;
  --rr-color-violet-950: #3d1777;
  --rr-color-violet: #8b5cf6;
  --rr-color-violet-contrast: #fff;
  --rr-color-violet-contrastx: #000;
  --rr-color-purple-50: #faf5ff;
  --rr-color-purple-100: #f3e8ff;
  --rr-color-purple-200: #e9d5ff;
  --rr-color-purple-300: #d8b4fe;
  --rr-color-purple-400: #c084fc;
  --rr-color-purple-500: #a855f7;
  --rr-color-purple-600: #9333ea;
  --rr-color-purple-700: #7e22ce;
  --rr-color-purple-800: #6b21a8;
  --rr-color-purple-900: #581c87;
  --rr-color-purple-950: #46166c;
  --rr-color-purple: #a855f7;
  --rr-color-purple-contrast: #fff;
  --rr-color-purple-contrastx: #000;
  --rr-color-fuscia-50: #fdf4ff;
  --rr-color-fuscia-100: #fae8ff;
  --rr-color-fuscia-200: #f5d0fe;
  --rr-color-fuscia-300: #f0abfc;
  --rr-color-fuscia-400: #e879f9;
  --rr-color-fuscia-500: #d946ef;
  --rr-color-fuscia-600: #c026d3;
  --rr-color-fuscia-700: #a21caf;
  --rr-color-fuscia-800: #86198f;
  --rr-color-fuscia-900: #701a75;
  --rr-color-fuscia-950: #5a155e;
  --rr-color-fuscia: #d946ef;
  --rr-color-fuscia-contrast: #fff;
  --rr-color-fuscia-contrastx: #000;
  --rr-color-pink-50: #fdf2f8;
  --rr-color-pink-100: #fce7f3;
  --rr-color-pink-200: #fbcfe8;
  --rr-color-pink-300: #f9a8d4;
  --rr-color-pink-400: #f472b6;
  --rr-color-pink-500: #ec4899;
  --rr-color-pink-600: #db2777;
  --rr-color-pink-700: #be185d;
  --rr-color-pink-800: #9d174d;
  --rr-color-pink-900: #831843;
  --rr-color-pink-950: #691336;
  --rr-color-pink: #ec4899;
  --rr-color-pink-contrast: #fff;
  --rr-color-pink-contrastx: #000;
  --rr-color-rose-50: #fff1f2;
  --rr-color-rose-100: #ffe4e6;
  --rr-color-rose-200: #fecdd3;
  --rr-color-rose-300: #fda4af;
  --rr-color-rose-400: #fb7185;
  --rr-color-rose-500: #f43f5e;
  --rr-color-rose-600: #e11d48;
  --rr-color-rose-700: #be123c;
  --rr-color-rose-800: #9f1239;
  --rr-color-rose-900: #881337;
  --rr-color-rose-950: #6d0f2c;
  --rr-color-rose: #f43f5e;
  --rr-color-rose-contrast: #fff;
  --rr-color-rose-contrastx: #000;
  --rr-color-primary-50: #eff6ff;
  --rr-color-primary-100: #dbeafe;
  --rr-color-primary-200: #bfdbfe;
  --rr-color-primary-300: #93c5fd;
  --rr-color-primary-400: #60a5fa;
  --rr-color-primary-500: #3b82f6;
  --rr-color-primary-600: #2563eb;
  --rr-color-primary-700: #1d4ed8;
  --rr-color-primary-800: #1e40af;
  --rr-color-primary-900: #1e3a8a;
  --rr-color-primary-950: #182e6e;
  --rr-color-primary: #3b82f6;
  --rr-color-primary-contrast: #fff;
  --rr-color-primary-contrastx: #000;
  --rr-color-success-50: #f0fdf4;
  --rr-color-success-100: #dcfce7;
  --rr-color-success-200: #bbf7d0;
  --rr-color-success-300: #86efac;
  --rr-color-success-400: #4ade80;
  --rr-color-success-500: #22c55e;
  --rr-color-success-600: #16a34a;
  --rr-color-success-700: #15803d;
  --rr-color-success-800: #166534;
  --rr-color-success-900: #14532d;
  --rr-color-success-950: #104224;
  --rr-color-success: #22c55e;
  --rr-color-success-contrast: #fff;
  --rr-color-success-contrastx: #000;
  --rr-color-danger-50: #fef2f2;
  --rr-color-danger-100: #fee2e2;
  --rr-color-danger-200: #fecaca;
  --rr-color-danger-300: #fca5a5;
  --rr-color-danger-400: #f87171;
  --rr-color-danger-500: #ef4444;
  --rr-color-danger-600: #dc2626;
  --rr-color-danger-700: #b91c1c;
  --rr-color-danger-800: #991b1b;
  --rr-color-danger-900: #7f1d1d;
  --rr-color-danger-950: #661717;
  --rr-color-danger: #ef4444;
  --rr-color-danger-contrast: #fff;
  --rr-color-danger-contrastx: #000;
  --rr-color-warning-50: #fefce8;
  --rr-color-warning-100: #fef9c3;
  --rr-color-warning-200: #fef08a;
  --rr-color-warning-300: #fde047;
  --rr-color-warning-400: #facc15;
  --rr-color-warning-500: #eab308;
  --rr-color-warning-600: #ca8a04;
  --rr-color-warning-700: #a16207;
  --rr-color-warning-800: #854d0e;
  --rr-color-warning-900: #713f12;
  --rr-color-warning-950: #5a320e;
  --rr-color-warning: #eab308;
  --rr-color-warning-contrast: #fff;
  --rr-color-warning-contrastx: #000;
  --rr-color-info-50: #f0fdfa;
  --rr-color-info-100: #ccfbf1;
  --rr-color-info-200: #99f6e4;
  --rr-color-info-300: #5eead4;
  --rr-color-info-400: #2dd4bf;
  --rr-color-info-500: #14b8a6;
  --rr-color-info-600: #0d9488;
  --rr-color-info-700: #0f766e;
  --rr-color-info-800: #115e59;
  --rr-color-info-900: #134e4a;
  --rr-color-info-950: #0f3e3b;
  --rr-color-info: #14b8a6;
  --rr-color-info-contrast: #fff;
  --rr-color-info-contrastx: #000;
}
