.-m-0 {
  margin: calc(var(--rr-space-0) * -1);
}
.-m-2xl {
  margin: calc(var(--rr-space-2xl) * -1);
}
.-m-2xs {
  margin: calc(var(--rr-space-2xs) * -1);
}
.-m-3xl {
  margin: calc(var(--rr-space-3xl) * -1);
}
.-m-3xs {
  margin: calc(var(--rr-space-3xs) * -1);
}
.-m-4xl {
  margin: calc(var(--rr-space-4xl) * -1);
}
.-m-l {
  margin: calc(var(--rr-space-l) * -1);
}
.-m-m {
  margin: calc(var(--rr-space-m) * -1);
}
.-m-px {
  margin: calc(var(--rr-space-px) * -1);
}
.-m-s {
  margin: calc(var(--rr-space-s) * -1);
}
.-m-xl {
  margin: calc(var(--rr-space-xl) * -1);
}
.-m-xs {
  margin: calc(var(--rr-space-xs) * -1);
}
.m-0 {
  margin: var(--rr-space-0);
}
.m-2xl {
  margin: var(--rr-space-2xl);
}
.m-2xs {
  margin: var(--rr-space-2xs);
}
.m-3xl {
  margin: var(--rr-space-3xl);
}
.m-3xs {
  margin: var(--rr-space-3xs);
}
.m-4xl {
  margin: var(--rr-space-4xl);
}
.m-auto {
  margin: auto;
}
.m-l {
  margin: var(--rr-space-l);
}
.m-m {
  margin: var(--rr-space-m);
}
.m-px {
  margin: var(--rr-space-px);
}
.m-s {
  margin: var(--rr-space-s);
}
.m-xl {
  margin: var(--rr-space-xl);
}
.m-xs {
  margin: var(--rr-space-xs);
}
.-mb-0 {
  margin-bottom: calc(var(--rr-space-0) * -1);
}
.-mb-2xl {
  margin-bottom: calc(var(--rr-space-2xl) * -1);
}
.-mb-2xs {
  margin-bottom: calc(var(--rr-space-2xs) * -1);
}
.-mb-3xl {
  margin-bottom: calc(var(--rr-space-3xl) * -1);
}
.-mb-3xs {
  margin-bottom: calc(var(--rr-space-3xs) * -1);
}
.-mb-4xl {
  margin-bottom: calc(var(--rr-space-4xl) * -1);
}
.-mb-l {
  margin-bottom: calc(var(--rr-space-l) * -1);
}
.-mb-m {
  margin-bottom: calc(var(--rr-space-m) * -1);
}
.-mb-px {
  margin-bottom: calc(var(--rr-space-px) * -1);
}
.-mb-s {
  margin-bottom: calc(var(--rr-space-s) * -1);
}
.-mb-xl {
  margin-bottom: calc(var(--rr-space-xl) * -1);
}
.-mb-xs {
  margin-bottom: calc(var(--rr-space-xs) * -1);
}
.-ml-0 {
  margin-left: calc(var(--rr-space-0) * -1);
}
.-ml-2xl {
  margin-left: calc(var(--rr-space-2xl) * -1);
}
.-ml-2xs {
  margin-left: calc(var(--rr-space-2xs) * -1);
}
.-ml-3xl {
  margin-left: calc(var(--rr-space-3xl) * -1);
}
.-ml-3xs {
  margin-left: calc(var(--rr-space-3xs) * -1);
}
.-ml-4xl {
  margin-left: calc(var(--rr-space-4xl) * -1);
}
.-ml-l {
  margin-left: calc(var(--rr-space-l) * -1);
}
.-ml-m {
  margin-left: calc(var(--rr-space-m) * -1);
}
.-ml-px {
  margin-left: calc(var(--rr-space-px) * -1);
}
.-ml-s {
  margin-left: calc(var(--rr-space-s) * -1);
}
.-ml-xl {
  margin-left: calc(var(--rr-space-xl) * -1);
}
.-ml-xs {
  margin-left: calc(var(--rr-space-xs) * -1);
}
.-mr-0 {
  margin-right: calc(var(--rr-space-0) * -1);
}
.-mr-2xl {
  margin-right: calc(var(--rr-space-2xl) * -1);
}
.-mr-2xs {
  margin-right: calc(var(--rr-space-2xs) * -1);
}
.-mr-3xl {
  margin-right: calc(var(--rr-space-3xl) * -1);
}
.-mr-3xs {
  margin-right: calc(var(--rr-space-3xs) * -1);
}
.-mr-4xl {
  margin-right: calc(var(--rr-space-4xl) * -1);
}
.-mr-l {
  margin-right: calc(var(--rr-space-l) * -1);
}
.-mr-m {
  margin-right: calc(var(--rr-space-m) * -1);
}
.-mr-px {
  margin-right: calc(var(--rr-space-px) * -1);
}
.-mr-s {
  margin-right: calc(var(--rr-space-s) * -1);
}
.-mr-xl {
  margin-right: calc(var(--rr-space-xl) * -1);
}
.-mr-xs {
  margin-right: calc(var(--rr-space-xs) * -1);
}
.-mt-0 {
  margin-top: calc(var(--rr-space-0) * -1);
}
.-mt-2xl {
  margin-top: calc(var(--rr-space-2xl) * -1);
}
.-mt-2xs {
  margin-top: calc(var(--rr-space-2xs) * -1);
}
.-mt-3xl {
  margin-top: calc(var(--rr-space-3xl) * -1);
}
.-mt-3xs {
  margin-top: calc(var(--rr-space-3xs) * -1);
}
.-mt-4xl {
  margin-top: calc(var(--rr-space-4xl) * -1);
}
.-mt-l {
  margin-top: calc(var(--rr-space-l) * -1);
}
.-mt-m {
  margin-top: calc(var(--rr-space-m) * -1);
}
.-mt-px {
  margin-top: calc(var(--rr-space-px) * -1);
}
.-mt-s {
  margin-top: calc(var(--rr-space-s) * -1);
}
.-mt-xl {
  margin-top: calc(var(--rr-space-xl) * -1);
}
.-mt-xs {
  margin-top: calc(var(--rr-space-xs) * -1);
}
.mb-0 {
  margin-bottom: var(--rr-space-0);
}
.mb-2xl {
  margin-bottom: var(--rr-space-2xl);
}
.mb-2xs {
  margin-bottom: var(--rr-space-2xs);
}
.mb-3xl {
  margin-bottom: var(--rr-space-3xl);
}
.mb-3xs {
  margin-bottom: var(--rr-space-3xs);
}
.mb-4xl {
  margin-bottom: var(--rr-space-4xl);
}
.mb-auto {
  margin-bottom: auto;
}
.mb-l {
  margin-bottom: var(--rr-space-l);
}
.mb-m {
  margin-bottom: var(--rr-space-m);
}
.mb-px {
  margin-bottom: var(--rr-space-px);
}
.mb-s {
  margin-bottom: var(--rr-space-s);
}
.mb-xl {
  margin-bottom: var(--rr-space-xl);
}
.mb-xs {
  margin-bottom: var(--rr-space-xs);
}
.ml-0 {
  margin-left: var(--rr-space-0);
}
.ml-2xl {
  margin-left: var(--rr-space-2xl);
}
.ml-2xs {
  margin-left: var(--rr-space-2xs);
}
.ml-3xl {
  margin-left: var(--rr-space-3xl);
}
.ml-3xs {
  margin-left: var(--rr-space-3xs);
}
.ml-4xl {
  margin-left: var(--rr-space-4xl);
}
.ml-auto {
  margin-left: auto;
}
.ml-l {
  margin-left: var(--rr-space-l);
}
.ml-m {
  margin-left: var(--rr-space-m);
}
.ml-px {
  margin-left: var(--rr-space-px);
}
.ml-s {
  margin-left: var(--rr-space-s);
}
.ml-xl {
  margin-left: var(--rr-space-xl);
}
.ml-xs {
  margin-left: var(--rr-space-xs);
}
.mr-0 {
  margin-right: var(--rr-space-0);
}
.mr-2xl {
  margin-right: var(--rr-space-2xl);
}
.mr-2xs {
  margin-right: var(--rr-space-2xs);
}
.mr-3xl {
  margin-right: var(--rr-space-3xl);
}
.mr-3xs {
  margin-right: var(--rr-space-3xs);
}
.mr-4xl {
  margin-right: var(--rr-space-4xl);
}
.mr-auto {
  margin-right: auto;
}
.mr-l {
  margin-right: var(--rr-space-l);
}
.mr-m {
  margin-right: var(--rr-space-m);
}
.mr-px {
  margin-right: var(--rr-space-px);
}
.mr-s {
  margin-right: var(--rr-space-s);
}
.mr-xl {
  margin-right: var(--rr-space-xl);
}
.mr-xs {
  margin-right: var(--rr-space-xs);
}
.mt-0 {
  margin-top: var(--rr-space-0);
}
.mt-2xl {
  margin-top: var(--rr-space-2xl);
}
.mt-2xs {
  margin-top: var(--rr-space-2xs);
}
.mt-3xl {
  margin-top: var(--rr-space-3xl);
}
.mt-3xs {
  margin-top: var(--rr-space-3xs);
}
.mt-4xl {
  margin-top: var(--rr-space-4xl);
}
.mt-auto {
  margin-top: auto;
}
.mt-l {
  margin-top: var(--rr-space-l);
}
.mt-m {
  margin-top: var(--rr-space-m);
}
.mt-px {
  margin-top: var(--rr-space-px);
}
.mt-s {
  margin-top: var(--rr-space-s);
}
.mt-xl {
  margin-top: var(--rr-space-xl);
}
.mt-xs {
  margin-top: var(--rr-space-xs);
}
.p-0 {
  padding: var(--rr-space-0);
}
.p-2xl {
  padding: var(--rr-space-2xl);
}
.p-2xs {
  padding: var(--rr-space-2xs);
}
.p-3xl {
  padding: var(--rr-space-3xl);
}
.p-3xs {
  padding: var(--rr-space-3xs);
}
.p-4xl {
  padding: var(--rr-space-4xl);
}
.p-l {
  padding: var(--rr-space-l);
}
.p-m {
  padding: var(--rr-space-m);
}
.p-px {
  padding: var(--rr-space-px);
}
.p-s {
  padding: var(--rr-space-s);
}
.p-xl {
  padding: var(--rr-space-xl);
}
.p-xs {
  padding: var(--rr-space-xs);
}
.pb-0 {
  padding-bottom: var(--rr-space-0);
}
.pb-2xl {
  padding-bottom: var(--rr-space-2xl);
}
.pb-2xs {
  padding-bottom: var(--rr-space-2xs);
}
.pb-3xl {
  padding-bottom: var(--rr-space-3xl);
}
.pb-3xs {
  padding-bottom: var(--rr-space-3xs);
}
.pb-4xl {
  padding-bottom: var(--rr-space-4xl);
}
.pb-l {
  padding-bottom: var(--rr-space-l);
}
.pb-m {
  padding-bottom: var(--rr-space-m);
}
.pb-px {
  padding-bottom: var(--rr-space-px);
}
.pb-s {
  padding-bottom: var(--rr-space-s);
}
.pb-xl {
  padding-bottom: var(--rr-space-xl);
}
.pb-xs {
  padding-bottom: var(--rr-space-xs);
}
.pl-0 {
  padding-left: var(--rr-space-0);
}
.pl-2xl {
  padding-left: var(--rr-space-2xl);
}
.pl-2xs {
  padding-left: var(--rr-space-2xs);
}
.pl-3xl {
  padding-left: var(--rr-space-3xl);
}
.pl-3xs {
  padding-left: var(--rr-space-3xs);
}
.pl-4xl {
  padding-left: var(--rr-space-4xl);
}
.pl-l {
  padding-left: var(--rr-space-l);
}
.pl-m {
  padding-left: var(--rr-space-m);
}
.pl-px {
  padding-left: var(--rr-space-px);
}
.pl-s {
  padding-left: var(--rr-space-s);
}
.pl-xl {
  padding-left: var(--rr-space-xl);
}
.pl-xs {
  padding-left: var(--rr-space-xs);
}
.pr-0 {
  padding-right: var(--rr-space-0);
}
.pr-2xl {
  padding-right: var(--rr-space-2xl);
}
.pr-2xs {
  padding-right: var(--rr-space-2xs);
}
.pr-3xl {
  padding-right: var(--rr-space-3xl);
}
.pr-3xs {
  padding-right: var(--rr-space-3xs);
}
.pr-4xl {
  padding-right: var(--rr-space-4xl);
}
.pr-l {
  padding-right: var(--rr-space-l);
}
.pr-m {
  padding-right: var(--rr-space-m);
}
.pr-px {
  padding-right: var(--rr-space-px);
}
.pr-s {
  padding-right: var(--rr-space-s);
}
.pr-xl {
  padding-right: var(--rr-space-xl);
}
.pr-xs {
  padding-right: var(--rr-space-xs);
}
.pt-0 {
  padding-top: var(--rr-space-0);
}
.pt-2xl {
  padding-top: var(--rr-space-2xl);
}
.pt-2xs {
  padding-top: var(--rr-space-2xs);
}
.pt-3xl {
  padding-top: var(--rr-space-3xl);
}
.pt-3xs {
  padding-top: var(--rr-space-3xs);
}
.pt-4xl {
  padding-top: var(--rr-space-4xl);
}
.pt-l {
  padding-top: var(--rr-space-l);
}
.pt-m {
  padding-top: var(--rr-space-m);
}
.pt-px {
  padding-top: var(--rr-space-px);
}
.pt-s {
  padding-top: var(--rr-space-s);
}
.pt-xl {
  padding-top: var(--rr-space-xl);
}
.pt-xs {
  padding-top: var(--rr-space-xs);
}
